*.a
*.cgo1.go
*.cgo2.c
*.dSYM/
*.exe
*.gcda
*.gcno
*.o
*.prof
*.so
*.test
.DS_Store
/.tags*
/.vagrant
/build
/mega-cli
/vender
__Previews/
_cgo_defun.c
_cgo_export.*
_cgo_gotypes.go
_obj
_test
_testmain.go
cmd/mega-cli/mega-cli
cmd/vender/vender
cover.out
coverage*.info
coverage*.txt
local.hcl
vender.sublime-*
