*.a
*.dll
*.dylib
*.elf
*.gch
*.ko
*.la
*.lib
*.lo
*.o
*.obj
*.pch
*.so
*.so.*

# Executables
*.exe
*.out
*.i*86
*.x86_64
*.hex
crc_test
main_test

# Debug files
*.dSYM/

# Other
*.sublime-project
*.sublime-workspace
*.swo
*.swp
*~
.coverage
.DS_Store
build_log.txt
ehthumbs.db
Thumbs.db
